<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.author }} / {{ page.card.title }}</title>
	<meta name="author" content="{{ site.author }}">
	<meta name="description" content="{{ page.content | strip_html | strip_newlines }}">
	<meta name="keywords" content="{{ page.meta.keywords }}">
	{% include head.html %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="card">
			<div class="container">
				<article>
					<span class="h2">Title</span>
					<h1>
						<a href="{{ page.card.url }}" target="_blank" title="{{ page.card.title }}" rel="nofollow">{{ page.card.title }}</a>
					</h1>
					<span class="h2">Description</span>
					{{ page.content }}
					<div class="card-meta">
						<span class="h2">Size</span>
						<p>{{ page.card.size }}</p>
						<span class="h2">Materials</span>
						<p>{{ page.card.materials }}</p>
						<span class="h2">Price</span>
						<p>{{ page.card.price }}</p>
						<span class="h2">Number available</span>
						<p>{{ page.card.number }}</p>
					</div>
				</article>
				<aside>
					<ul>
						{% for image in page.images %}
						<li>
							<img src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
						</li>
						{% endfor %}
					</ul>
				</aside>
			</div>
		</section>
		<section class="card-navigation">
			<div class="container">
				{% if page.previous and page.previous.categories contains "cards" %}
				<a title="Previous {{ page.previous.card.title }}" href="{{ page.previous.url | prepend: site.baseurl }}" class="prev">
					<span class="h2">Previous</span>
					<h2>{{ page.previous.card.title }}</h2>
				</a>
				{% endif %}
				{% if page.next and page.next.categories contains "cards" %}
				<a title="Next {{ page.next.card.title }}" href="{{ page.next.url | prepend: site.baseurl }}" class="next">
					<span class="h2">Next</span>
					<h2>{{ page.next.card.title }}</h2>
				</a>
				{% endif %}
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/jquery-1.12.4.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/vendor/sticky-kit.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/card.js" | prepend: site.baseurl }}"></script>
</body>
</html>